html body{
	background-color: beige;
	font-family: Verdana,sans-serif;
	font-size: 15px;
    line-height: 1.5;
}

.container{
	position: absolute;
	margin-left: 175px;
	width: 90%;
}

.content {
	display: none;
	position: relative;
	padding: 10px 16px;
	border: 1px solid #000;
	margin: 5px 0 5px 0;
}

/*This is all the css for the sidebar*/

.sidebar {
	position: fixed;
	top: 0; bottom: 0; left: 0;
	width: 170px;
	background: #666699;
	overflow: hidden;
}

.button {
    color: white;
	background: #3f51b5;
    text-align: center;
    font-size: 16px;
    margin: 60px 0;
	padding: 30px 0 30px 0;
    cursor: pointer;
}

.btn-block{
	width: 100%;
	display:inline-block;
	overflow:hidden;
	text-decoration: none;
	white-space:nowrap;
}

a.button:hover{
	background-color: grey;
}

/*This is the css for the main nav for the different sections!*/

ul.tabs {
	list-style-type: none;
	border-radius: 100px;
	position: sticky;
	width: 44%;
	padding: 0;
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

ul.tabs li{
	float: left;
	position: sticky;
	text-align: center;
	width: 375px;
}

ul.tabs li a {
	display: inline-block;
	width: 250px;
	color: black;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
}

ul.tabs li a:hover {
	background-color: #ddd;
}

ul.tabs li a:focus, .active{
	background-color: #ccc;
}


/*ADVISOR CSS*/

.advisorContactInfo{
	width: 300px;
	clear: both;
}
.advisorContactInfo input{
	width: 100%;
	clear: both;
}

/* SUBMIT AND BUTTON CSS */

input[type=submit]{
	width: 60px;
	margin: 5px;
	padding: 5px;
	border: 2px solid #ccc;
	border-radius: 5px;
}

input[type=button]{
	width: 60px;
	margin: 5px;
	padding: 5px;
	border: 2px solid #ccc;
	border-radius: 5px;
}

/*CSS FOR REPORT/VIEW INTERNSHIP PAGE*/


#RIContentLeft{
	float: left;
	width: 50%;
}
#RIContentRight{
	float: right;
	width: 50%;
}