body{
	background-color: beige;
}
ul.tabs {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}
ul.tabs li{
	float: left;
}
ul.tabs li a {
	display: inline-block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
}

ul.tabs li a:hover {
	background-color: #ddd;
}

ul.tabs li a:focus, .active{
	background-color: #ccc;
}

.content {
	display: none;
	padding: 6px 12px;
	border-top: none;
}

.sideNav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: black;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}

.sideNav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sideNav a:hover, .offcanvas a:focus{
	color: #f1f1f1;
}

.sideNav .closebtn{
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

#mainPage{
	background-color: beige;
	transition: margin-left .5s;
	padding: 20px;
}

footer{
	text-align: center;
	padding: 8px 8px;
}

#reportinginternship{
	width: 80%;
}

#RIContentLeft{
	float: left;
	width: 50%;
}
#RIContentRight{
	float: right;
	width: 50%;
}