ul.nav{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 30%;
	display: block;
	float: left;
}
ul.

.navbar {
	position: sticky;
	min-height: 50px;
	border: 1px solid;
	float: left;
}
li a {
	display: block;
	padding: 8px 16px;
	text-decoration: none;
}


ul.tabs {
	list-style-type: none;
	float: right;
	margin: 0;
	padding: 0;
	overflow: visible;
	position: fixed;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}
ul.tabs li{
	float: left;
}
ul.tabs li a {
	display: inline-block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
}

ul.tabs li a:hover {
	background-color: #ddd;
}

ul.tabs li a:focus, .active{
	background-color: #ccc;
}

.content {
	display: none;
	padding: 6px 12px;
	border-top: none;
}

.container{
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: beige;
	padding: 20px;
}

footer{
	text-align: center;
	padding: 8px 8px;
}

#reportinginternship{
	width: 80%;
}